*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/
bintray.properties
project.properties
test-project.properties
*.log
config/
projectFilesBackup*
.classpath
.project
.settings/
